.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 5%;
}

.container span {
  display: block;
}

.info {
  min-height: 380px;
  max-width: 600px;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

.info h2 {
  margin-top: 0%;
}

.containerIcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  
}
.containerIcon box-icon {
  width: 50%;
  height: 200px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 95%;
  }

  .containerIcon box-icon {
    width: 90%;
    height: 100px;
  }

}

@media only screen and (max-width: 380px) {
  .container {
    font-size: 1.5rem;
    height: 100vh;
  }
}
