.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
  font-size: 2rem;
  margin-top: 5%;
}

.container span{
  display: block;
}

.info{
  min-height: 380px;
  max-width: 600px;
}
.info box-icon{
  width: 100%;
  height: 380px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .info box-icon{
    width: 90%;
  }

  .info h2{
    margin-top: 0%;
  }
}
