.projects{
    flex-direction: column;
    font-size: 2rem;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.cardInfo{
    margin: 0px 20px;
}

.title{
    margin: 0px;
    color: #3c873a;
}

.description{
    margin: 12px 0px;
    font-size: 16px;
    max-width: 800px;
}
.cardButtons button{
    margin: 0px 10px;
    padding: 4px;
}
iframe {
    width: 100%;
    height: auto;
    
}
