.projects{
    flex-direction: column;   
}

.projects h2{
    font-size: 3rem;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.cardInfo{
    margin: 0px 20px;
}

.title{
    font-size: 2rem;
    margin: 20px 0px;
    color: #3c873a;
}

.description{
    margin: 12px 0px;
    font-size: 16px;
    max-width: 800px;
}

.cardButtons button{
    margin: 0px 10px;
    padding: 4px;
}

@media only screen and (max-width: 768px) {
    iframe {
        width: 100%;
        height: auto;
    }
}
