.waveBackground {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 180px;
    background: #3c873a;
    clip-path: polygon(
    0% 50%,
    10% 45%,
    20% 50%,
    30% 40%,
    40% 60%,
    50% 50%,
    60% 70%,
    70% 50%,
    80% 60%,
    90% 50%,
    100% 55%,
    100% 100%,
    0 100%
  );
  }
