.contact{
  flex-direction: column;
  min-height: 100vh;
}

.contact a{
  text-decoration: none; 
  color: #fff;
}

.container {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 12px 12px 0px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 5%;
}

.container div{
  padding: 0px 10px;
}

.title {
  font-size: 3rem;
  margin-top: 0;
}

.container span{
  display: block;
  font-size: 20px;
  margin: 12px 0px;
}

.container box-icon{
  height: 60px;
  width: 60px;
}

.container a:hover {
  color: #3c873a;
}

@media only screen and (max-width: 768px) {
  .container{
    width: 90%;
    justify-content: center;
  }
  @media only screen and (max-width: 380px) {
    .container span{
      font-size: 18px;
    }
  }
}
