.navbar {
    background-color:#242424 ;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .navbar ul li {
    margin: 0 20px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  .navbar ul li a:hover{
    color: #3c873a;
  }

  @media only screen and (max-width: 600px) {
    .navbar ul li {
      margin: 0px 5px;
    }
  }

  
  
